<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="canonical" href="{{ data.url }}">

		{% if page.fileSlug == '' %}
		<title>{{ title }}</title>
		{% else %}
		<title>{{ title }} — {{ data.name }}</title>
		{% endif %}
		<meta name="description" content="{{ description }}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@brianboyer">
		<meta name="twitter:creator" content="@brianboyer">
		<meta property="og:site_name" content="{{ data.name }}">
		<meta name="twitter:title" content="{{ title }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:url" content="{{ data.url }}">
		<meta property="og:type" content="website" />

		<meta name="twitter:description" content="{{ description }}">
		<meta property="og:description" content="{{ description }}">

		<meta name="twitter:image" content="{{ data.url }}/_assets/img/social-card.png">
		<meta name="twitter:image:alt" content="{{ data.social_card_alt }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/social-card.png">
		<meta property="og:image:alt" content="{{ data.social_card_alt }}">
		<meta name="author" content="{{ data.author }}">

		<meta name="apple-mobile-web-app-title" content="{{ data.name }}">
		<link rel="apple-touch-icon" sizes="180x180" href="/_assets/img/apple-touch-icon.png">

		<link rel="icon" type="image/png" sizes="32x32" href="/_assets/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/_assets/img/favicon-16x16.png">

		{% set css %}{% include "the.css" %}{% endset %}
		<style type="text/css">
			{{ css | safe }}
		</style>
	</head>

	{% if page.fileSlug == '404' %}
	<body id="fourzerofour">
	{% else %}
	<body id="{{ page.fileSlug }}">
	{% endif %}
		<main>
    	{{ content | safe }}
			<h2 id="contact">You in?</h2>
			<p>Let's talk! I’d love to learn more about your team, and your vision for the future.</p>
			<p><a href="mailto:brian@hackerjournalist.net">brian@hackerjournalist.net</a></p>
		</main>
		<footer>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/resume/">Resume</a></li>
					<li><a href="/writing-talks/">Writing & Talks</a></li>
					<li><a href="/awards/">Awards</a></li>
					<li><a href="/colophon/">Colophon</a></li>
				</ul>
			</nav>
			<p>Copyright 2025, Brian Boyer</p>
		</footer>
	</body>
</html>
