/* type  */
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

html {font-size: 14px;}

h1 {font-size: 3.052em;}
h2 {font-size: 2.441em;}
h3 {font-size: 1.953em;}
h4 {font-size: 1.563em;}
h5 {font-size: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: .2em 0;
  font-weight: 500;
  line-height: 1.1em;
}

h1 {
  font-weight: 200;
  margin-bottom: .4em;
  text-transform: lowercase;
}

h2 {
  text-transform: lowercase;
  margin: 1em 0 .5em;
}

h3 {
  font-weight: 300;
}

body {
  font-family: 'Saira', sans-serif;
}

nav {
  text-transform: lowercase;
}

footer p#contact {
  font-size: 5vw;
  font-family: 'Gravitas One', serif;
}

@media (min-width: 1000px) {
  footer p#contact {
    font-size: 3vw;
  }
}

/* color */
html {
  --light-grey: #f0f2f5;
  --red: #c2260a;
  --red-rgb: 194,38,10;
  --red-wash: rgba(var(--red-rgb), 0.2);;
  --dark-red: #81260A;
  --dark-red-rgb: 129,38,10;
  --dark-red-wash: rgba(var(--dark-red-rgb), 0.2);
  --dark-grey: #222;
  --dark-grey-rgb: 51,51,51;
  --dark-grey-wash: rgba(var(--dark-grey-rgb), 0.2);
}

body {
  background-image: radial-gradient(#e0e0e0, var(--light-grey));
  background-size: 2px 2px;
  color: var(--dark-grey);
}

h1 {
  color: var(--red);
}

a {
  color: var(--dark-red);
  text-decoration-color: var(--dark-red-wash);
  text-decoration-thickness: .1em;
  text-underline-offset: .12em;
}

footer p#contact a {
  color: var(--red);
  text-decoration-color: var(--red-wash);
}

header nav ul li a {
  color: var(--dark-grey);
  text-decoration-color: var(--dark-grey-wash);
}

/* layout */

body {
  margin: 2em;
}

header, main, footer {
  max-width: 45em;
  margin: 0 auto;
}

header nav ul {
  margin: 0;
  padding-left: 0;
}

header nav ul li {
  float: left;
  margin-right: 1em;
  list-style-type: none;
}

header nav ul li:first-child {
  font-weight: 600;
}

main {
  clear: left;
  padding-top: 3em;
}

p {
  margin-top:0;
}

figure { margin:0; }
figure img { width:100%; }
figure figcaption { font-style: italic; }

ul {
  padding-left: 0.9em;
}

ul li {
  list-style-type: square;
}

#index h1 {
  font-size: 4.4em;
  font-weight: 100;
  margin-left: -0.07em;
}

#awards h2 {
  margin-bottom: 0;
}

#awards ul {
  padding-left: 0;
  margin-top: 0;
}

#awards ul li {
  list-style-type: none;
}

footer p#contact {
  padding: 1em 0 2em;
  transform: rotate(-11deg);
}

footer p#copyright {
  text-align: right;
}